<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <div class="container">
    <div class="section">
        <div class="container">
   <h1>CRUD EN DJANGO</h1>
   <a class="waves-effect waves-light btn" href="{% url 'crear_persona' %}">Create</a> 
   <a class="waves-effect waves-light btn" href="{% url 'inicio' %}">Read</a> 
   <a class="waves-effect waves-light btn" href="{% url 'inicio' %}">Update</a> 
   <a class="waves-effect waves-light btn" href="{% url 'inicio' %}">Delete</a>  
   <h1>CRUD CIUDAD</h1>
   <a class="waves-effect waves-light btn" href="{% url 'crearciudad' %}">Create</a> 
   <a class="waves-effect waves-light btn" href="{% url 'readciudad' %}">Read</a> 
   <a class="waves-effect waves-light btn" href="{% url 'readciudad' %}">Delete</a>  
</div>
</div>
</div>
</body>

</html>